<h1>{{vm.title}}</h1>
<ul>
    <li ng-repeat="game in vm.games"><a
            href="#/games/{{game._id}}">{{game.title}}</a></li>
    <button ng-init='add=false; btn=true' ng-click='add=true; btn=false' ng-show='btn'>Add a new Game</button>
    <div ng-show='add'>
        <form ng-controller="GamesListController" name="vm.gameForm"
            ng-submit="vm.addGame()">

            To add a new game please fill in all the fields below:<BR />

            Title: <input type="text" name="title" required
                ng-model="vm.newGameTitle" style="color:black" /><BR />

            Price: <input type="text" name="price" required
                ng-model="vm.newGamePrice" style="color:black" ng-pattern="/^[0-9]*.[0-9]*$/"/>
                <span
                    ng-show="vm.gameForm.price.$dirty && vm.gameForm.price.$invalid"
                    style="color:red">Price must be a number</span>
    
                <BR />

            Year of Publication: <input type="text" name="year" required
                ng-model="vm.newGameYear" style="color:black" ng-pattern="^\d{4}$"/>
                <span
                    ng-show="vm.gameForm.year.$dirty && vm.gameForm.year.$invalid"
                    style="color:red">Invalid year</span>
    
                <BR />

            Rating: <input type="text" name="rating" required
                ng-model="vm.newGameRating" style="color:black" ng-pattern="/^[0-5]$/"/>
                <span
                    ng-show="vm.gameForm.rating.$dirty && vm.gameForm.rating.$invalid"
                    style="color:red">Minimum players must be at least 1.</span>
    
                <BR />

            Minimum Number of Players: <input type="text" name="minPlayers"
                required ng-model="vm.newGameMinPlayers" style="color:black" ng-pattern="/^[0-9]*$/" />

            <span
                ng-show="vm.gameForm.minPlayers.$dirty && vm.gameForm.minPlayers.$invalid"
                style="color:red">Minimum players must be at least 1.</span>

            <BR />

            Maximum Number of Players: <input type="text" name="maxPlayers"
                required ng-model="vm.newGameMaxPlayers"
                style="color:black" />
                <BR />

            Minimum Recommended Player Age: <input type="text" name="minAge"
                required ng-model="vm.newGameMinAge"/>
                <BR />

            Designer name: <input type="text" name="designer" required
                ng-model="vm.newGameDesigner" style="color:black" />
                <BR />

                <button type="submit" class="btn-success">Add Game</button>

        </form>
        <button ng-show='add' ng-click='btn=true; add=false'>Cancel</button>
    </div>

</ul>