<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <app-wrapper>
        <br>
        <div>
            Title: {{game.title }}
        </div>

        <div>
            Price: {{game.price | currency}}
        </div>

        <div>
            Minimum Players :{{game.minPlayers}}
        </div>

        <div>
            Maximum Players : {{game.maxPlayers}}
        </div>
        <div>
            Publisher : {{game.publisher.name}}
        </div>

        <br>
        <div>
            <button routerLink="/games">Go Back</button>
        </div>
    </app-wrapper>
</body>

</html>